In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.style as style
from sklearn.linear_model import LogisticRegression, LinearRegression
from path import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm

In [2]:
# path to dataset
file_path = Path("/Users/Emily/documents/class_data/final_group_airbnb/Resources/cleaned_airbnb_dataset4.csv")
airbnb_df = pd.read_csv(file_path, index_col=0)
airbnb_df.head()

,host_id,host_is_superhost,property_type,room_type,neighborhood,zipcode,accommodates,bedrooms,bathrooms,minimum_nights,...,latitude,longitude,reviews,review_scores_rating,price,cleaning_fee,total,Median,Mean,Pop
room_id,,,,,,,,,,,,,,,,,,,,,
958,1169,t,Apartment,Entire home/apt,Western Addition,94117,3,1.0,1.0,1,...,37.76931,-122.43386,217,97.0,170.0,100.0,270.0,84802.0,112291.0,39169.0
3850,4921,t,House,Private room,Inner Sunset,94131,2,1.0,1.0,1,...,37.75402,-122.45805,160,94.0,99.0,10.0,109.0,97834.0,126303.0,26881.0
5858,8904,f,Apartment,Entire home/apt,Bernal Heights,94110,5,2.0,1.0,30,...,37.74511,-122.42102,111,98.0,235.0,100.0,335.0,75106.0,98470.0,69333.0
7918,21994,t,Apartment,Private room,Haight Ashbury,94117,2,1.0,4.0,32,...,37.76669,-122.45250,18,86.0,65.0,50.0,115.0,84802.0,112291.0,39169.0
8142,21994,t,Apartment,Private room,Haight Ashbury,94117,2,1.0,4.0,32,...,37.76487,-122.45183,8,93.0,65.0,50.0,115.0,84802.0,112291.0,39169.0

In [3]:
# dropping categorical data
num_airbnb_df = airbnb_df.drop(['host_id','host_is_superhost','property_type','room_type',
                                'neighborhood','latitude','longitude','zipcode','reviews','cleaning_fee','total',
                               'Median','Mean','Pop'], axis=1)
num_airbnb_df.head

<bound method NDFrame.head of           accommodates  bedrooms  bathrooms  minimum_nights  maximum_nights  \
room_id
958                  3       1.0        1.0               1              30
3850                 2       1.0        1.0               1               5
5858                 5       2.0        1.0              30              60
7918                 2       1.0        4.0              32              60
8142                 2       1.0        4.0              32              90
...                ...       ...        ...             ...             ...
39337552             4       1.0        1.0               2            1125
39342094             5       3.0        2.0              30            1125
39343373             4       1.0        1.0               1               7
39344101             1       1.0        2.0              30              93
39350028             2       1.0        1.0              30              90

          review_scores_rating  price
room_id
958                       97.0  170.0
3850                      94.0   99.0
5858                      98.0  235.0
7918                      86.0   65.0
8142                      93.0   65.0
...                        ...    ...
39337552                   0.0  113.0
39342094                   0.0  699.0
39343373                   0.0  200.0
39344101                   0.0   69.0
39350028                   0.0  187.0

[7815 rows x 7 columns]>

In [4]:
print(num_airbnb_df.keys())

Index(['accommodates', 'bedrooms', 'bathrooms', 'minimum_nights',
       'maximum_nights', 'review_scores_rating', 'price'],
      dtype='object')

In [5]:
features = ['accommodates','bedrooms','bathrooms','maximum_nights','review_scores_rating']

In [6]:
X = num_airbnb_df[features]
Y = num_airbnb_df.price
X.head()

,accommodates,bedrooms,bathrooms,maximum_nights,review_scores_rating
room_id,,,,,
958,3,1.0,1.0,30,97.0
3850,2,1.0,1.0,5,94.0
5858,5,2.0,1.0,60,98.0
7918,2,1.0,4.0,60,86.0
8142,2,1.0,4.0,90,93.0

In [7]:
#X_train, X_pred, Y_train, Y_pred = train_test_split(X, Y, random_state = 42)

In [8]:
lr = LinearRegression()
lr.fit(X, Y)

LinearRegression()

In [9]:
y_val = lr.predict(X)

In [10]:
#X = sm.add_constant(X)

mlr_model = sm.OLS(Y, X)
mlr_reg = mlr_model.fit()

In [14]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

lr = LinearRegression()
lr.fit(X, Y)

y_val = lr.predict(X)

In [15]:
mean_squared_error(Y, y_val, squared=False)

400.3880606104456