In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
df1 = "Resources/cleaned_airbnb_dataset2.csv"
df2 = "Resources/MeanZIP-3.xlsx - nation.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
airbnb_df = pd.read_csv(df1)
zipcode_df = pd.read_csv(df2)

# Check names.
airbnb_df.head(10)

,room_id,host_id,host_is_superhost,property_type,room_type,neighborhood,zipcode,accommodates,bedrooms,bathrooms,minimum_nights,maximum_nights,latitude,longitude,reviews,review_scores_rating,price,cleaning_fee,total
0,958,1169,t,Apartment,Entire home/apt,Western Addition,94117,3,1.0,1.0,1,30,37.76931,-122.43386,217,97.0,170.0,100.0,270.0
1,3850,4921,t,House,Private room,Inner Sunset,94131,2,1.0,1.0,1,5,37.75402,-122.45805,160,94.0,99.0,10.0,109.0
2,5858,8904,f,Apartment,Entire home/apt,Bernal Heights,94110,5,2.0,1.0,30,60,37.74511,-122.42102,111,98.0,235.0,100.0,335.0
3,7918,21994,t,Apartment,Private room,Haight Ashbury,94117,2,1.0,4.0,32,60,37.76669,-122.45250,18,86.0,65.0,50.0,115.0
4,8142,21994,t,Apartment,Private room,Haight Ashbury,94117,2,1.0,4.0,32,90,37.76487,-122.45183,8,93.0,65.0,50.0,115.0
5,8339,24215,f,House,Entire home/apt,Western Addition,94117,4,2.0,1.5,6,1125,37.77525,-122.43637,28,97.0,875.0,225.0,1100.0
6,8739,7149,t,Condominium,Private room,Mission,94110,3,1.0,1.0,1,14,37.75919,-122.42237,704,98.0,139.0,50.0,189.0
7,9225,29674,t,House,Private room,Potrero Hill,94107,2,1.0,1.0,1,365,37.76259,-122.40543,511,94.0,135.0,50.0,185.0
8,10251,35199,t,House,Entire home/apt,Mission,94110,4,2.0,1.0,30,60,37.75874,-122.41327,337,96.0,225.0,100.0,325.0
9,10578,37049,f,Apartment,Entire home/apt,Nob Hill,94109,2,0.0,1.0,30,180,37.79143,-122.41544,18,99.0,120.0,75.0,195.0

In [4]:
zipcode_df1 = zipcode_df.rename(columns={"Zip":"zipcode"}, errors="raise")
zipcode_df1

       zipcode  Median    Mean     Pop
0         1001  56,663  66,688  16,445
1         1002  49,853  75,063  28,069
2         1003  28,462  35,121   8,491
3         1005  75,423  82,442   4,798
4         1007  79,076  85,802  12,962
...        ...     ...     ...     ...
32629    99923  43,625  42,895      87
32630    99925  50,357  63,808     819
32631    99926  44,063  51,660   1,460
32632    99927  41,815  55,501      94
32633    99929  50,389  69,595   2,338

[32634 rows x 4 columns]

In [5]:
# Combine the data into a single dataset
data_complete_df = pd.merge(airbnb_df, zipcode_df1, how="left", on=["zipcode", "zipcode"])
data_complete_df

,room_id,host_id,host_is_superhost,property_type,room_type,neighborhood,zipcode,accommodates,bedrooms,bathrooms,...,latitude,longitude,reviews,review_scores_rating,price,cleaning_fee,total,Median,Mean,Pop
0,958,1169,t,Apartment,Entire home/apt,Western Addition,94117,3,1.0,1.0,...,37.76931,-122.43386,217,97.0,170.0,100.0,270.0,"84,802","112,291","39,169"
1,3850,4921,t,House,Private room,Inner Sunset,94131,2,1.0,1.0,...,37.75402,-122.45805,160,94.0,99.0,10.0,109.0,"97,834","126,303","26,881"
2,5858,8904,f,Apartment,Entire home/apt,Bernal Heights,94110,5,2.0,1.0,...,37.74511,-122.42102,111,98.0,235.0,100.0,335.0,"75,106","98,470","69,333"
3,7918,21994,t,Apartment,Private room,Haight Ashbury,94117,2,1.0,4.0,...,37.76669,-122.45250,18,86.0,65.0,50.0,115.0,"84,802","112,291","39,169"
4,8142,21994,t,Apartment,Private room,Haight Ashbury,94117,2,1.0,4.0,...,37.76487,-122.45183,8,93.0,65.0,50.0,115.0,"84,802","112,291","39,169"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7810,39337552,4996407,f,Guest suite,Entire home/apt,Haight Ashbury,94117,4,1.0,1.0,...,37.77183,-122.43730,0,0.0,113.0,75.0,188.0,"84,802","112,291","39,169"
7811,39342094,4332552,f,House,Private room,Bernal Heights,94110,5,3.0,2.0,...,37.74010,-122.41196,0,0.0,699.0,150.0,849.0,"75,106","98,470","69,333"
7812,39343373,245447609,f,Condominium,Entire home/apt,Downtown/Civic Center,94102,4,1.0,1.0,...,37.77799,-122.42159,0,0.0,200.0,0.0,200.0,"29,613","44,237","31,176"
7813,39344101,27123550,f,Hut,Private room,Bayview,94124,1,1.0,2.0,...,37.73410,-122.38917,0,0.0,69.0,0.0,69.0,"49,309","62,866","33,996"
7814,39350028,107434423,f,Apartment,Entire home/apt,Downtown/Civic Center,94103,2,1.0,1.0,...,37.78144,-122.41207,0,0.0,187.0,150.0,337.0,"53,548","77,236","27,170"

In [6]:
data_complete_df.shape

(7815, 22)

In [7]:
data_complete_df.to_csv("Resources/cleaned_airbnb_dataset3.csv", index=False)